/* палітра */
/* #4D5AE5   
/* #2E2F42 */
/* #31D0AA */
/* #434455  text*/
/* #8E8F99   Subtle Text*/
/* #E7E9FC  Accent*/
/* #F4F4FD  Light */
/* #404BBF; */

:root{
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --button-color: #4D5AE5;
    --active-states-color:#404BBF;    
    --headline-title-color: #FFFFFF;
    --footer-logo-color: #F4F4FD;
    --subtle-backgrounds: #E7E9FC;
    --icon-media--color:#31D0AA;
    --icon--color:#8E8F99;
}

h2{
    margin-top: 0;
}

.title{
    margin-top: 0;
}

body{
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  
}

.header{
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15);
    width: 480px;
}
@media screen and (min-width: 768px) {
    .header{
    width: 768px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .header{
    width: 1200px;  
    }
  }

.header-nav{
    display: block;
    
}

@media screen and (min-width: 768px) {
    .header-nav{
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .header-nav{
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }


.site-nav .webpage{
    color: var(--button-color);   
}

.contacts{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.logo-nav{
    display: flex;
    align-items: flex-start;
    padding: 24px 0;
    
}

@media screen and (min-width: 768px) {
    .logo-nav{
        display: flex;
        align-items: center;
        padding: 0;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .logo-nav{
        display: flex;
        align-items: center;
        padding: 0;
    }
  }

.logo  {
    color: var(--title-text-color);
    font-family: Raleway, sans-serif ;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 18px;
    line-height: 1.3;
    text-decoration: none;
}

.logo-color{
    color: var(--button-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 18px;
    line-height: 1.2; 
}

ul{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    
    
  }
  @media screen and (min-width: 428px) {
    .container {
      width: 428px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .container {
      width: 768px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .container {
      width: 1158px;
      margin-right: auto;
      margin-left: auto;
    }
  }


/* навігація */
.site-nav a{
    
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none; 
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}


.webpage::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.site-nav{
    display: none;
    justify-content: center;
    margin-left: 77px;
}
 
  @media screen and (min-width: 768px) {
    .site-nav{
        display: flex;
        justify-content: center;
        margin-left: 77px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .site-nav{
        display: flex;
        justify-content: center;
        margin-left: 77px;
    }
  }

.auth-nav{
    display: none;
    justify-content: center; 
}

@media screen and (min-width: 768px) {
    .auth-nav{
        display: block;
        padding-top: 24px;
        padding-bottom: 10px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .auth-nav{
        display: flex;
        justify-content: center; 
    }
  }

.site-nav li:not(:last-child){
    margin-right: 40px;
}

.auth-nav li:not(:last-child){
    margin-right: 40px;
}

.site-nav a:hover,
.site-nav a:focus {
    color: var(--button-color);
}

.auth-nav a{
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.auth-nav a:hover,
.auth-nav a:focus {
    color: var(--button-color);
}

.logo-nav .site-nav{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}


/* headline===== */

.headline{
    background-image:linear-gradient(to right, rgba(46, 47, 66, 0.7),rgba(46,47,66,0.7)), url(../images/people-office.jpg) ;
    text-align: center;
    padding-top: 192px;
    padding-bottom: 192px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 480px;
}

 
  @media screen and (min-width: 768px) {
    .headline {
      width: 768px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .headline {
      width: 1200px;
    }
  }

.headline-title{
    font-family: "roboto" sans-serif;
    color: var(--headline-title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    margin-top: 0;
    margin-bottom: 72px;

    width: 318px;
    margin-left: auto;
    margin-right: auto;
    
}

@media screen and (min-width: 768px) {
    .headline-title {
        margin-bottom: 40px;
        width: 494px;
        font-size: 56px;
        margin-left: auto;
        margin-right: auto;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .headline-title {
        margin-bottom: 48px;
        width: 494px;
        font-size: 56px;
    }
  }

.backdrop{
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(46, 47, 66, 0.4);
    z-index: 2;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    backdrop-filter: blur(3px);
    overflow-y: scroll;
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.modal{
    position: absolute;
    width: 408px;
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-button{
    position: absolute;
    width: 24px;
    height: 24px;
    top:24px;
    right: 24px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon{
    display: flex;
    width: 8px;
    height: 8px;
    fill: currentColor;
}

.modal-button:hover,
.modal-button:focus{
    background-color: #404BBF;
    color: #FFFFFF;
}

/* Modalka */
.modal-form{
    padding: 72px 24px 24px 24px;
}
.modal-tetle{
    font-family: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 14px;
    margin-top: 0;
}

.form-field{
    display: flex;
    flex-direction: column;
    position: relative;
}


.form-field:focus {
    border: 1px solid var(--button-color);
    outline: none;
}

.form-field input:focus {
    border: 1px solid var(--button-color);
    outline: none;
}
.form-field input:focus ~ .modal-svg-nam {
    fill: var(--button-color);
}


.form-field input:focus ~ .modal-svg-email,
.form-field input:focus ~ .modal-svg-tel {
    fill: var(--button-color);
}


.form-field textarea:focus {
    border: 1px solid var(--button-color);
    outline: none;
}


.form-field label{
    font-family: var(--primary-font);
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-top: 8px;
    margin-bottom: 4px;
    margin-left: 0;
    text-align: start;
}

.form-field input{
    width: 360px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 38px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.name-span{
    position: relative;
}

.modal-svg-nam{
    fill:var(--title-text-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50% );
    left: 19px;
    width: 12px;
    height: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.modal-svg-tel{
    fill:var(--title-text-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 19px;
    width: 13px;
    height: 13px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-svg-email{
    fill:var(--title-text-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 19px;
    width: 15px;
    height: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 360px;
    font-size: 12px;
    font-family: inherit;
    line-height: calc(16 / 12);
    letter-spacing: 0.04em;
    height: 120px;
    padding-left: 16px;
    padding-top: 8px;
    resize: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label{
    display: flex;
}

.checkbox{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;    
}

.checkbox:checked + .icon-checkbox {
    background-color: #404BBF;
    background-image: url(../images/checkbox.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
    border-color: #404BBF;
}

.icon-checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1.25px solid black;
    border-radius: 2px;
    margin-top: 16px;
}


.content-checkbox {
    font-family: var(--primary-font);
    color: #757575;
    margin-top: 16px;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.04em;
    margin-left: 8px;
}

.button-modal-send {
    padding: 16px 32px 16px 32px;
    background-color: var(--button-color);
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.04em;
    border: none;
    margin-top: 24px;
    min-width: 169px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-send:hover,
.button-modal-send:focus{
    background-color: #404BBF;
    color: #FFFFFF;
}

/* характеристика */

.characteristic{
    padding-top: 96px;
    padding-bottom: 96px;
    width: 480px;
}

@media screen and (min-width: 768px) {
    .characteristic{
        padding-top: 96px;
        padding-bottom: 0;
        width: 768px;
        
    }
  }
  
  @media screen and (min-width: 1200px) {
    .characteristic{
        padding-top: 120px;
        padding-bottom: 0;
        width: 1200px;
    }
  }

.hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.list-title .title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

@media screen and (min-width: 768px) {
    .list-title .title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 8px;
    text-align: left;
    }
}


@media screen and (min-width: 1200px) {
    .list-title .title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 8px;
    text-align: left;
    }
}

.advantages-decor{
    display: none;
    justify-content: center;
    align-items: center;
    background-color:var(--footer-logo-color);
    margin-bottom: 8px;
    height: 112px;
    border-radius: 4px;
}

@media screen and (min-width: 768px) {
    .advantages-decor{
        display: none;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .advantages-decor{
        display: flex;
    }
  }

.advantages-icon{
    display: flex;
    align-items: center;
    width: 64px;
    height: 64px;
    position: absolute;
}

.desc-list:not(:last-child){
    margin-bottom: 72px;   
}
  
@media screen and (min-width: 768px) {
    .desc-list:not(:last-child){
     margin-bottom: 72px;
    }

    .desc-list:nth-child(2n+1){
    margin-right: 24px;
    }

    .desc-list:nth-child(2n){
    margin-right: 0;
    }
}
@media screen and (min-width: 1200px) {
    .desc-list:not(:last-child){
        margin-right: 24px;
        margin-bottom: 0;   
    }
  }

.desc-list{
    /* width: calc((100% - 72px) / 4); */
}

@media screen and (min-width: 768px) {
    .desc-list{
        width: calc((100% - 72px) / 2);
    }
  }
  
  @media screen and (min-width: 1200px) {
    .desc-list{
        width: calc((100% - 72px) / 4);
    }
  }

.list-title{
    display: block;
}

@media screen and (min-width: 768px) {
    .list-title{
        display: flex;
        flex-wrap: wrap;
    }
}
  
  @media screen and (min-width: 1200px) {
    .list-title{
        display: flex;
    }
  }


.list{
    display: block;
}

@media screen and (min-width: 768px) {
    .list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;  
    }
  }
  
  @media screen and (min-width: 1200px) {
    .list{
        display: flex;
    }
}

.work{
    display: block;
    padding-top: 96px;
    padding-bottom: 96px; 
    width: 480px;
}

@media screen and (min-width: 768px) {
    .work{
        display: flex;
        width: 768px;
        padding-left: 108px;
        padding-right: 108px
    }
}
  
@media screen and (min-width: 1200px) {
    .work{
        display: flex;
        padding-top: 120px;
        padding-bottom: 120px; 
        width: 1200px;
        padding-left: 0;
        padding-right: 0;
    }
}

.work-list{
    display: none;
    padding-top: 120px;
    padding-bottom: 120px; 
}
@media screen and (min-width: 768px) {
    .work-list{
    display: none;
    width: 768px;  
    }
}

@media screen and (min-width: 1200px) {
    .work-list{
        display: flex;   
    }
  }

.items{
    display: block;
}

@media screen and (min-width: 768px) {
    .items{
        display: flex;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .items{
        display: flex;
    }
  }

.list .list:not(:last-child){
    margin-right: 24px;   
}



.work-list .items li:not(:last-child){
    margin-right: 24px;   
}

.work .items li:not(:last-child){
    margin-right: 24px;   
}

.list-title .text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;  
    letter-spacing: 0.02em;
    
}

@media screen and (min-width: 768px) {
    .list-title .text{
        
    }
  }
  
  @media screen and (min-width: 1200px) {
    .list-title .text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    }
}

.list .text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;  
    letter-spacing: 0.02em;
    
}

@media screen and (min-width: 768px) {
    .list .text{
        
    }
  }
  
  @media screen and (min-width: 1200px) {
    .list .text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    }
  }

.container .title{
    margin-bottom: 8px;
    
}


.container .text{
    margin-top: 0;
    margin-bottom: 0;
}

/* @media screen and (min-width: 768px) {
    .list .text{
        
    }
  }
  
  @media screen and (min-width: 1200px) {
    .list .text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    }
  } */

.image{
    display: flex;
}

.list-team{
    background-color: var(--footer-logo-color); 
    padding-top: 96px;
    padding-bottom: 96px; 
    width: 480px;
}

@media screen and (min-width: 768px) {
    .list-team{
    padding-top: 96px;
    padding-bottom: 104px;
    width: 768px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .list-team{
        background-color: var(--footer-logo-color); 
        padding-top: 120px;
        padding-bottom: 120px; 
        width: 1200px;
    }
  }


.list-team .title{
    margin-top: 0;
    text-align: center;
}

.title-team{
    color: var(--title-text-color);
    /* font-weight: 500; */
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
    margin-top: 0;
}

.text-team{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;  
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    margin-top: 0;
}

.list-shadow:not(:last-child){
    margin-top: 72px; 
    margin-bottom: 72px; 
}

@media screen and (min-width: 768px) {
    /* .list-shadow:not(:last-child){
        margin-top: 0; 
        margin-bottom: 72px; 
    } */

    .list-shadow:nth-last-child(-n + 2){
        margin-top: 0; 
        margin-bottom: 0; 
    }
}

.list-shadow{
    margin-left: 82px;
    margin-right: 82px;
}

@media screen and (min-width: 768px) {
    .list-shadow{
        margin-left: 0;
        margin-right: 0;
       
    }
}

@media screen and (min-width: 1200px) {
    .list-shadow{
        margin-right: 0;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
  }
}

.list-team .list li:not(:last-child){
    margin-right: 24px;
}

@media screen and (min-width: 1200px) {
    .list-team .list li:not(:last-child){
        margin-right: 24px;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
  }
}



.content{
    padding: 32px 15px;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    text-align: center;  
    width: 264px;
}

@media screen and (min-width: 768px) {
    .content{
        padding: 32px 16px;
       
    }
}
  
  @media screen and (min-width: 1200px) {
    .content{
        padding: 32px 16px;
        
  }
}
 
.title-list{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}
  


/* .list-shadow{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
} */

.list-team .title-our-team{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}



.icon-networks{
    display: flex;
    margin-top: 12px; 
    justify-content: center;  
}

.content .icon-networks li:not(:last-child){
    margin-right: 24px;
}

.networks{
    display: flex;
     background-color: var(--button-color);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

/* customers */
.customers-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    fill: currentColor; 
}

.work-icon{
    color: var(--icon--color);
    display: flex;
    border: 1px solid var(--icon--color);
    width: 100%;
    height: 88px;
    border-radius: 4px;
    justify-content: center;
    align-items: center; 

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.icon-customers{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
    .icon-customers{
        display: flex;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .icon-customers{
        display: flex;
    }
  }

.customers{
    width: calc((100% - 32px) / 2);
    margin: 8px;
    margin-bottom: 72px;
    margin-top: 0;
    
}

.customers:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }

@media screen and (min-width: 768px) {
    .customers{
        width: calc((100% - 72px) / 3);
        margin: 12px;
        margin-bottom: 72px;
        margin-top: 0;
    }

    .customers:nth-last-child(-n + 3) {
        margin-bottom: 0;
      }
  }
  
  @media screen and (min-width: 1200px) {
    .customers{
        width: calc((100% - 120px) / 6);
        margin: 0;
        margin-bottom: 0;
        margin-top: 0;
    }

    .customers:not(:last-child){
        margin-right: 24px;
    }
  }

 .work-icon:hover,
 .work-icon:focus{
    border-color: #4D5AE5;
    fill: var(--button-color);
    color: var(--button-color);
}

/* футер */
.footer{
    background: var(--title-text-color);
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    width: 480px;
}

@media screen and (min-width: 768px) {
    .footer{
    width: 768px;
    padding-left: 108px;
    padding-right: 108px  
    }
 
  .footer .container{
    
    padding-left: 0;
    padding-right: 0;  
    }
}

  
  @media screen and (min-width: 1200px) {
    .footer {
    width: 1200px;
    }
  }


.footer .logo{
    color: var(--footer-logo-color);
    font-family: Raleway, sans-serif ;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 18px;
    line-height: 1.3;
    justify-content: center;
    display: flex;
}


@media screen and (min-width: 768px) {
    .footer .logo{
        justify-content: start;
        
    }
  }
  
  @media screen and (min-width: 1200px) {
    .footer .logo{
        justify-content: start;
        
    }
  }

.footer .title{
    color: var(--subtle-backgrounds);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 16px;
    margin-right: 120px;
    margin-bottom: 0;
    width: 264px;
}

.social-media {
    display: flex;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    padding-top: 0;
    padding-bottom: 16px;
    margin: 0 0;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .social-media{
        justify-content: start;
        
    }
  }
  
  @media screen and (min-width: 1200px) {
    .social-media{
        justify-content: start;
        
    }
}


.content-social-media{
    display: block;
    margin: 0 80px 72px 80px;
    width: 264px;
}

@media screen and (min-width: 768px) {
    .content-social-media{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .content-social-media{
        
        
    }
  }

.media-logo{
    display: block;
    margin: 0 80px 72px 80px;
    width:264px;   
}


@media screen and (min-width: 768px) {
    .media-logo{
        margin: 0;
        /* margin-right: 120px; */
        width:264px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .media-logo{
        
        margin-right: 120px;
        width:264px;
    }
  }

.media-logo .logo-color{
    align-items: center;
}


.footer .container{
    display: block;
}

@media screen and (min-width: 768px) {
    .footer .container{
        display: flex;
        flex-wrap: wrap;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .footer .container{
        display: flex;
    }
  }

.icon-media {
    background-color: var(--primary-text-color);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex; 
   
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.icon-media:hover,
.icon-media:focus{
   background-color: var(--icon-media--color);    
}

.networks-icon-media{
    fill: currentColor;
    width: 24px;
    height: 24px;
    margin: 8px 8px; 
    display: flex;
}

.icon-networks-media{
    display: flex;
    margin-top: 16px;
    justify-content: center;   
}

@media screen and (min-width: 768px) {
    .icon-networks-media{
        justify-content: start;
    }
}

@media screen and (min-width: 1200px) {
    .icon-networks-media{
        justify-content: start;
    }
}


.icon-networks-media li:not(:last-child){
    margin-right: 16px;
}

.box-subscribe{
margin-left: auto;
}

@media screen and (min-width: 768px) {
    .box-subscribe{
        margin-left: 0;
        margin-top: 72px;
    }
}

@media screen and (min-width: 1200px) {
    .box-subscribe{
        margin-left: auto;
        margin-top: 0;
    }
}



.input-email{
    font-family: var(--primary-font);
    background-color: inherit;
    padding-left: 16px;
    height: 40px;
    width: 396px;
    color: rgba(255, 255, 255, 0.6);
    line-height: calc(24/12);
    font-size: 12px;
    letter-spacing: 0.04em;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    margin: 0 16px 16px;
}
@media screen and (min-width: 768px) {
    .input-email{
        width: 264px; 
        margin: 0 ;
    }
}

@media screen and (min-width: 1200px) {
    .input-email{
        width: 264px;
        margin: 0 ;
    }
}

.button-subscribe {
    display: inline-flex;
    background-color: var(--button-color);
    color: #ffffff;
    margin-left: 131px;
    padding-top: 8px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 8px;
    border-radius: 4px;
    border-color: transparent;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: calc(24 / 16);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


@media screen and (min-width: 768px) {
    .button-subscribe{
        margin-left: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .button-subscribe{
        margin-left: 24px;
    }
}

.button-subscribe:hover,
.button-subscribe:focus{
    background: var(--active-states-color);
    color: var(--headline-title-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscribe-icon {
    width: 24px;
    height: 20px;
    margin-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-subscribe input:focus {
    border: 1px solid var(--button-color);
    outline: none;
}

/* кнопки */

.button{
    color: var(--headline-title-color);
    background-color: var(--button-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 170px;
    text-align: center;
    border: 1px solid var(--button-color);
        
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-picture{
    /* color: var(--headline-title-color);
    background-color: var(--button-color); */
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    padding: 12px 24px;
    min-width: 69px;
    min-height: 48px;
    text-align: center;
    border: 1px solid var(--button-color);
    background-color: var(--active-states-color);
    color: var(--headline-title-color);
    border: 1px solid var(--button-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-primtary {
    color: var(--button-color);
    background-color: var(--footer-logo-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    padding: 12px 24px;
    min-width: 69px;
    min-height: 48px;
    text-align: center;
    border: 1px solid var(--subtle-backgrounds);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus{
    background-color: var(--active-states-color);
    color: var(--headline-title-color);
    border: 1px solid var(--button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


.button-primtary:hover,
.button-primtary:focus, 
.button-picture:hover,
.button-picture:focus{
    background-color: var(--active-states-color);
    color: var(--headline-title-color);
    border: 1px solid var(--button-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* .container{
    /* phote-screen */
    /* min-width: 320px;
    max-width: 448px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; */
    
     
   
    /* tablet-screen */
    /* @media screen and (min-width: 768px){
        .container{
            max-width: 720px;
        }
    } */

    /* desctop-screen */
    /* @media screen and (min-width: 1158px){
        .container{
            max-width: 1200px;
        }
    }
} */ */



/* Portfolio */

.container-primtary{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
    .primtary{
        margin-left: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .primtary{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 72px;
    }
}

.image-portfolio{
   position: relative;
   overflow: hidden;
   display: flex;
}

.portf-link{
    text-decoration: none;
}

.portf-link:hover .overlay-thumb{
    transform: translateY(0);
}

.portf-link:focus .overlay-thumb{
    transform: translateY(0);
}

.overlay-thumb{
    position: absolute;
    left: 0;
    top: 0;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description{
    margin: 0;
    padding: 0;
    color: var(--footer-logo-color);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.primtary li:not(:last-child){
    margin-right: 24px;
}

.element{
    display: flex;
    flex-wrap: wrap;
    margin-right: -24px; 
    margin-bottom: -48px;
}

.element li{
    width: 360px;
    margin-right: 24px;
    margin-bottom: 48px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.element li:nth-last-child(-n + 3){
    margin-bottom: 120px;
}


.content-portfolio {
    background: #FFFFFF;
    border: 0.5px solid #F4F4FD;
    padding: 32px 16px 32px 16px;
    padding-bottom: 32px;
}

.picture{
    padding-top: 96px;
    padding-bottom: 120px;
}

.title-portfolio{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 8px;
    text-align: left;
    text-decoration: none;
}

.text-portfolio{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0px;
    text-decoration: none;
    color: var(--primary-text-color);
}

.portf-link:hover,
.portf-link:focus {
    box-shadow: 0px 1px 6px rgb(46 47 66 / 8%), 0px 1px 1px rgb(46 47 66 / 16%), 0px 2px 1px rgb(46 47 66 / 8%);
}

.portf-link{
    box-shadow: 0px 1px 6px rgb(46 47 66 / 8%);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
}

/* === меню телефона =====*/
.menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
  
@media (max-width: 767px) {
    .menu {
      display: none;
    }
}
  
.modal-button-mobile{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 40px;
    right: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-mobile:hover,
.modal-button-mobile:focus{
    background-color: #404BBF;
    color: #FFFFFF;
}
.menu .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
}
  
  .menu .link:hover,
  .menu .link:focus {
    text-decoration: underline;
  }
  
.menu-btn{
    margin-left: auto;
    background-color: transparent;
    border: none;
   
    padding: 0;
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}
  
@media (min-width: 768px) {
    .menu-btn {
      display: none;
    }
}
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 80px 40px 40px;

    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    z-index: 999;
  
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  
  .menu-container.is-open {
    transform: translateX(0);
  }
  
.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: var(--title-text-color);
}
  
.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}
  

.mobile-menu-item:not(:last-child){
    margin-bottom: 40px;
}

.mobile-menu-item {
    display: block;
    
    color: var(--title-text-color);
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.mobile-menu-item:hover,
.mobile-menu-item:focus{
    color: var(--active-states-color);
}

.mobile-contacts{
    margin-bottom: 48px;
    margin-top: auto;
}

.mobile-contacts-item:not(:last-child){
    margin-bottom: 40px;
}

.mobile-contacts-link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    flex: none;
    order: 1;
    flex-grow: 0;
}
.mobile-contacts-link.accent{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-transform: capitalize;
    color: var(--button-color); 
}

.icon-networks-mobile{
    display: flex;
    align-items: center;
    gap: 56px;
}

.icon-mobile{
    display: flex;
    background-color: var(--button-color);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}