/* палітра */
/* #4D5AE5   
/* #2E2F42 */
/* #31D0AA */
/* #434455  text*/
/* #8E8F99   Subtle Text*/
/* #E7E9FC  Accent*/
/* #F4F4FD  Light */
/* #404BBF; */

:root{
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --button-color: #4D5AE5;
    --active-states-color:#404BBF;    
    --headline-title-color: #FFFFFF;
    --footer-logo-color: #F4F4FD;
    --subtle-backgrounds: #E7E9FC;
    --icon-media--color:#31D0AA;
    --icon--color:#8E8F99;
}

h2{
    margin-top: 0;
}

.title{
    margin-top: 0;
}

body{
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.header{
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15);
}

.header-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.site-nav .webpage{
    color: var(--button-color);   
}

.contacts{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.logo-nav{
    display: flex;
    align-items: center;
}

.logo  {
    color: var(--title-text-color);
    font-family: Raleway, sans-serif ;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 18px;
    line-height: 1.3;
    text-decoration: none;
}

.logo-color{
    color: var(--button-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 18px;
    line-height: 1.2; 
}

ul{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

/* навігація */
.site-nav a{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none; 
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.webpage::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.site-nav{
    display: flex;
    justify-content: center;
    margin-left: 77px;
}
 
.auth-nav{
    display: flex;
    justify-content: center; 
}

.site-nav li:not(:last-child){
    margin-right: 40px;
}

.auth-nav li:not(:last-child){
    margin-right: 40px;
}

.site-nav a:hover,
.site-nav a:focus {
    color: var(--button-color);
}

.auth-nav a{
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.auth-nav a:hover,
.auth-nav a:focus {
    color: var(--button-color);
}

.logo-nav .site-nav{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}


/* headline===== */

.headline{
    background-image:linear-gradient(to right, rgba(46, 47, 66, 0.7),rgba(46,47,66,0.7)), url(../images/people-office.jpg) ;
    text-align: center;
    padding-top: 192px;
    padding-bottom: 192px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 1440px;
    margin: auto;
}

.headline-title{
    font-family: "roboto" sans-serif;
    color: var(--headline-title-color);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    text-align: center;
    margin-top: 0;
    margin-bottom: 48px;
}

.backdrop{
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(46, 47, 66, 0.4);
    z-index: 2;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    backdrop-filter: blur(3px);
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.modal{
    position: absolute;
    width: 408px;
    
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-button{
    position: absolute;
    width: 24px;
    height: 24px;
    top:24px;
    right: 24px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon{
    display: flex;
    width: 8px;
    height: 8px;
    fill: currentColor;
}

.modal-button:hover,
.modal-button:focus{
    background-color: #404BBF;
    color: #FFFFFF;
}

/* Modalka */
.modal-form{
    padding: 72px 24px 24px 24px;
}
.modal-tetle{
    font-family: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 14px;
    margin-top: 0;
}

.form-field{
    display: flex;
    flex-direction: column;
    position: relative;
}


.form-field:focus {
    border: 1px solid var(--button-color);
    outline: none;
}

.form-field input:focus {
    border: 1px solid var(--button-color);
    outline: none;
}
.form-field input:focus ~ .modal-svg-nam {
    fill: var(--button-color);
}


.form-field input:focus ~ .modal-svg-email,
.form-field input:focus ~ .modal-svg-tel {
    fill: var(--button-color);
}


.form-field textarea:focus {
    border: 1px solid var(--button-color);
    outline: none;
}


.form-field label{
    font-family: var(--primary-font);
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-top: 8px;
    margin-bottom: 4px;
    margin-left: 0;
    text-align: start;
}

.form-field input{
    width: 360px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 38px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.name-span{
    position: relative;
}

.modal-svg-nam{
    fill:var(--title-text-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50% );
    left: 19px;
    width: 12px;
    height: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.modal-svg-tel{
    fill:var(--title-text-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 19px;
    width: 13px;
    height: 13px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-svg-email{
    fill:var(--title-text-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 19px;
    width: 15px;
    height: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 360px;
    font-size: 12px;
    font-family: inherit;
    line-height: calc(16 / 12);
    letter-spacing: 0.04em;
    height: 120px;
    padding-left: 16px;
    padding-top: 8px;
    resize: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label{
    display: flex;
}

.checkbox{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;    
}

.checkbox:checked + .icon-checkbox {
    background-color: #404BBF;
    background-image: url(../images/checkbox.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
    border-color: #404BBF;
}

.icon-checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1.25px solid black;
    border-radius: 2px;
    margin-top: 16px;
}


.content-checkbox {
    font-family: var(--primary-font);
    color: #757575;
    margin-top: 16px;
    font-size: 12px;
    line-height: calc(16 / 12);
    letter-spacing: 0.04em;
    margin-left: 8px;
}

.button-modal-send {
    padding: 16px 32px 16px 32px;
    background-color: var(--button-color);
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.04em;
    border: none;
    margin-top: 24px;
    min-width: 169px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-send:hover,
.button-modal-send:focus{
    background-color: #404BBF;
    color: #FFFFFF;
}

/* .form-field input:focus,
.form-field input:hover{
    border: 4px solid var(--button-color);
} */
/* характеристика */

.characteristic{
    padding-top: 120px;
}

.hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.list .title{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 8px;
    text-align: left;
}

.advantages-decor{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--footer-logo-color);
    margin-bottom: 8px;
    height: 112px;
    border-radius: 4px;
}

.advantages-icon{
    display: flex;
    align-items: center;
    width: 64px;
    height: 64px;
    position: absolute;
}

.desc-list:not(:last-child){
    margin-right: 24px;   
}

.desc-list{
    width: calc((100% - 72px) / 4);
}

.list{
    display: flex;
}

.work{
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px; 
}

/* .list-team li{
    width: calc((100% - 72px) / 4);
} */

.items{
    display: flex;
}

.list .list:not(:last-child){
    margin-right: 24px;   
}

.work .items li:not(:last-child){
    margin-right: 24px;   
}

.list .text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0px;
}

.container .title{
    margin-bottom: 8px;
}


.container .text{
    margin-top: 0;
    margin-bottom: 0;
}

.image{
    display: flex;
}

.list-team .title{
    margin-top: 0;
    text-align: center;
}
.content{
    padding: 32px 16px;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    
}
 
.title-list{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}
  
.list-team .list li:not(:last-child){
    margin-right: 24px;
}

.list-shadow{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-team .title-our-team{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.icon-networks{
    display: flex;
    margin-top: 12px; 
    justify-content: center;  
}

.content .icon-networks li:not(:last-child){
    margin-right: 24px;
}

.networks{
    display: flex;
     background-color: var(--button-color);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

/* customers */
.customers-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    fill: currentColor; 
}

.work-icon{
    color: var(--icon--color);
    display: flex;
    border: 1px solid var(--icon--color);
    width: 100%;
    height: 88px;
    border-radius: 4px;
    justify-content: center;
    align-items: center; 

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.icon-customers{
    display: flex;
}

.customers{
    width: calc((100% - 120px) / 6); 
}

.customers:not(:last-child){
    margin-right: 24px;
}

 .work-icon:hover,
 .work-icon:focus{
    border-color: #4D5AE5;
    fill: var(--button-color);
    color: var(--button-color);
}

/* футер */
.footer{
    background: var(--title-text-color);
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
}

.footer .logo{
    color: var(--footer-logo-color);
    font-family: Raleway, sans-serif ;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 18px;
    line-height: 1.3;
}

.footer .title{
    color: var(--subtle-backgrounds);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 16px;
    margin-right: 120px;
    margin-bottom: 0;
    width: 264px;
}

.social-media {
    display: flex;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    padding-top: 0;
    padding-bottom: 16px;
    margin: 0 0;
}

/* .media{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1158px; 
    padding-left: 15px;
    padding-right: 15px;
} */

.media-logo{
    display: block;
    margin-right: 120px;
    width:264px;
    
}

.footer .container{
    display: flex;
}

.icon-media {
    background-color: var(--primary-text-color);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex; 
   
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.icon-media:hover,
.icon-media:focus{
   background-color: var(--icon-media--color);    
}

.networks-icon-media{
    fill: currentColor;
    width: 24px;
    height: 24px;
    margin: 8px 8px; 
    display: flex;
}

.icon-networks-media{
    display: flex;
    margin-top: 16px;   
}

.icon-networks-media li:not(:last-child){
    margin-right: 16px;
}

.box-subscribe{
margin-left: auto;
}

.input-email{
    font-family: var(--primary-font);
    background-color: inherit;
    padding-left: 16px;
    height: 40px;
    width: 264px;
    color: rgba(255, 255, 255, 0.6);
    line-height: calc(24/12);
    font-size: 12px;
    letter-spacing: 0.04em;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-subscribe {
    display: inline-flex;
    background-color: var(--button-color);
    color: #ffffff;
    margin-left: 24px;
    padding-top: 8px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 8px;
    border-radius: 4px;
    border-color: transparent;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: calc(24 / 16);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-subscribe:hover,
.button-subscribe:focus{
    background: var(--active-states-color);
    color: var(--headline-title-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscribe-icon {
    width: 24px;
    height: 20px;
    margin-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-subscribe input:focus {
    border: 1px solid var(--button-color);
    outline: none;
}

/* кнопки */

.button{
    color: var(--headline-title-color);
    background-color: var(--button-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 170px;
    text-align: center;
    border: 1px solid var(--button-color);
        
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-picture{
    /* color: var(--headline-title-color);
    background-color: var(--button-color); */
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    padding: 12px 24px;
    min-width: 69px;
    min-height: 48px;
    text-align: center;
    border: 1px solid var(--button-color);
    background-color: var(--active-states-color);
    color: var(--headline-title-color);
    border: 1px solid var(--button-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-primtary {
    color: var(--button-color);
    background-color: var(--footer-logo-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    padding: 12px 24px;
    min-width: 69px;
    min-height: 48px;
    text-align: center;
    border: 1px solid var(--subtle-backgrounds);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus{
    background-color: var(--active-states-color);
    color: var(--headline-title-color);
    border: 1px solid var(--button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


.button-primtary:hover,
.button-primtary:focus, 
.button-picture:hover,
.button-picture:focus{
    background-color: var(--active-states-color);
    color: var(--headline-title-color);
    border: 1px solid var(--button-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1158px; 
    padding-left: 15px;
    padding-right: 15px;
}

.list-team{
    background: var(--footer-logo-color); 
    padding-top: 120px;
    padding-bottom: 120px; 
}
/* Portfolio */

.primtary{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 72px;
}

.image-portfolio{
   position: relative;
   overflow: hidden;
   display: flex;
}

.portf-link{
    text-decoration: none;
}

.portf-link:hover .overlay-thumb{
    transform: translateY(0);
}

.portf-link:focus .overlay-thumb{
    transform: translateY(0);
}

.overlay-thumb{
    position: absolute;
    left: 0;
    top: 0;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description{
    margin: 0;
    padding: 0;
    color: var(--footer-logo-color);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.primtary li:not(:last-child){
    margin-right: 24px;
}

.element{
    display: flex;
    flex-wrap: wrap;
    margin-right: -24px; ;
    margin-bottom: -48px;
}

.element li{
    width: 360px;
    margin-right: 24px;
    margin-bottom: 48px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.element li:nth-last-child(-n + 3){
    margin-bottom: 120px;
}


.content-portfolio {
    background: #FFFFFF;
    border: 0.5px solid #F4F4FD;
    padding: 32px 16px 32px 16px;
    padding-bottom: 32px;
}

.picture{
    padding-top: 96px;
    padding-bottom: 120px;
}

.title-portfolio{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 8px;
    text-align: left;
    text-decoration: none;
}

.text-portfolio{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0px;
    text-decoration: none;
    color: var(--primary-text-color);
}

.portf-link:hover,
.portf-link:focus {
    box-shadow: 0px 1px 6px rgb(46 47 66 / 8%), 0px 1px 1px rgb(46 47 66 / 16%), 0px 2px 1px rgb(46 47 66 / 8%);
}

.portf-link{
    box-shadow: 0px 1px 6px rgb(46 47 66 / 8%);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
}
